.modo-oscuro {
    -fx-background-color: #333; /* Color de fondo oscuro */
    -fx-text-fill: white; /* Color de texto blanco */
}

/* Estilo para los botones */
.modo-oscuro .button {
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-border-color: aqua;
}

.modo-oscuro .button:hover {
    -fx-background-color: aqua; /* Cambia a azul claro al pasar por encima el raton */
    -fx-text-fill: black;
}

/* Estilo para la tabla */
.modo-oscuro .table-view {
    -fx-background-color: #222; /* Fondo oscuro */
    -fx-text-background-color: white; /* Texto en blanco */
    -fx-border-color: aqua;
}

/* Estilo para las filas impares */
.modo-oscuro .table-row-cell:odd {
    -fx-background-color: #333;
}

/* Estilo para las filas pares */
.modo-oscuro .table-row-cell:even {
    -fx-background-color: #444;
}

/* Estilo para las filas seleccionadas */
.modo-oscuro .table-view .table-row-cell:selected {
    -fx-background-color: aqua;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}

/* Estilo para la fila de encabezado de la tabla */
.modo-oscuro .table-view .column-header {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-color: aqua;
}

/* Estilo para los labels */
.modo-oscuro .label {
    -fx-text-fill: white;
}

/* Estilo para el ComboBox */
.modo-oscuro .combo-box {
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-border-color: aqua;
}

/* Estilo para el TextField */
.modo-oscuro .text-field {
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-border-color: aqua;
}

/* Estilo para la lista del ComboBox */
.modo-oscuro .combo-box .list-cell {
    -fx-background-color: #222;
    -fx-text-fill: white;
}

/* Estilo para el texto seleccionado en el ComboBox */
.modo-oscuro .combo-box .list-cell:selected {
    -fx-text-fill: white;
}

/* Estilo al pasar el raton por encima de los items del ComboBox */
.modo-oscuro .combo-box .list-cell:hover {
    -fx-background-color: aqua;
}

/* Estilo para eliminar alguna imperfeccion del ComboBox */
.modo-oscuro .combo-box .list-view {
    -fx-background-color: #222; /* Establece el color de fondo */
    -fx-text-fill: white; /* Establece el color de texto */
}