/* Estilos para la barra de título */
#topHbox {
    -fx-background-color: #333333;
}

/* Estilos específicos para los botones btnMinimizar y btnCerrar */
#btnMinimizar, #btnCerrar {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 40px;
}

#btnMinimizar:hover, #btnCerrar:hover {
    -fx-background-color: #666666;
}

#btnMinimizar:pressed, #btnCerrar:pressed {
    -fx-background-color: #999999;
}

/* Estilo de la ventana */
.root {
    -fx-background-color: #f0f0f0; /* Color de fondo */
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 5px; /* Radio de borde */
}