/* Estilos para la barra de título */
#topHbox {
    -fx-background-color: #c1d1e0;
}

/* Estilos específicos para los botones btnMinimizar y btnCerrar */
#btnMinimizar, #btnCerrar {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 40px;
}

#btnMinimizar:hover, #btnCerrar:hover {
    -fx-background-color: #4390e7;
}

#btnMinimizar:pressed, #btnCerrar:pressed {
    -fx-background-color: #0d66d2;
}

/* Estilo de la ventana */
.root {
    -fx-background-color: #f0f0f0; /* Color de fondo */
    -fx-border-color: black; /* Color del borde */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-border-radius: 0px 0px 0px 0px; /* Radio de borde */
}
